[Unit]
Description=Greyfield Cowrie SSH/Telnet Honeypot
Documentation=https://docs.cowrie.org/
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/home/cowrie/honeypot/var/run/cowrie.pid
User=cowrie
Group=cowrie
WorkingDirectory=/home/cowrie/honeypot
Environment="PATH=/home/cowrie/honeypot/cowrie-env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/cowrie/honeypot/cowrie-env/bin/cowrie start
ExecStop=/home/cowrie/honeypot/cowrie-env/bin/cowrie stop
Restart=on-failure
RestartSec=10s
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/cowrie/honeypot
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
